
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
          </div>
          <div class="col-sm-6" >
            <p class="text-info text-right">
              <br>
              <a href="<?=HOST_URL?>/?admin=edit&setlocale=pl">Polski</a>
              <a href="<?=HOST_URL?>/?admin=edit&setlocale=en">English</a>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12  text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-info"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-info"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-info"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-info"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>