html,
body{width:100%;height:100%;}
body{font-family:'Noto Sans', sans-serif;}
.text-vertical-center{display:table-cell;text-align:center;vertical-align:middle;}
.text-vertical-center h1{margin:0;padding:0;font-size:4.5em;font-weight:700;}
.btn-dark{border-radius:0;color:#fff;background-color:rgba(0,0,0,0.4);}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active{color:#fff;background-color:rgba(0,0,0,0.7);}
.btn-light{border-radius:0;color:#333;background-color:rgb(255,255,255);}
.btn-light:hover,
.btn-light:focus,
.btn-light:active{color:#333;background-color:rgba(255,255,255,0.8);}
.btn-orange{border-radius:0;color:#333;background-color:rgb(240, 173, 78);border:1px solid #333;}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active{color:#F0AD4E;background-color:#333;}
.bg-orange{color:#333;background-color:rgb(240, 173, 78);}
.bg-grafit{color:#F0AD4E;background-color:#333;}
hr.small{max-width:100px;}
#sidebar-wrapper{z-index:1000;position:fixed;left:-250px;width:250px;height:100%;margin-right:-250px;overflow-y:auto;background:#F0AD4E;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-ms-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
.sidebar-nav{position:absolute;top:0px;width:250px;margin:0;padding:0;list-style:none;}
.sidebar-nav li{text-indent:20px;line-height:40px;}
.sidebar-nav li a{display:block;text-decoration:none;color:#333;}
.sidebar-nav li a:hover{text-decoration:none;color:rgb(240, 173, 78);background:#333;}
.sidebar-nav li a:active,
.sidebar-nav li a:focus{text-decoration:none;}
.sidebar-nav > .sidebar-brand{height:55px;font-size:18px;line-height:55px;}
.sidebar-nav > .sidebar-brand a{border-radius:0;color:#F0AD4E;background-color:#333;}
.sidebar-nav > .sidebar-brand a:hover{color:#fff;}
#menu-toggle{z-index:1;position:fixed;top:0;left:10px;}
#menu-toggle ol{margin:5px;}
#sidebar-wrapper.active{left:0px;width:250px;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-ms-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
.toggle{margin:5px 5px 0 0;}
.about{padding:50px 0;}
.services{padding:50px 0;}
.service-item{margin-bottom:30px;}
.callout{display:table;width:100%;height:400px;color:#fff;background:url(../img/callout.jpg) no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;}
.portfolio{padding:50px 0;}
.portfolio-item{margin-bottom:30px;}
.img-portfolio{margin:0 auto;}
.img-portfolio:hover{opacity:0.8;}
.call-to-action{padding:50px 0;}
.call-to-action .btn{margin:10px;}
.map{height:500px;}
@media(max-width:768px){.map{height:75%;}
}
footer{padding:100px 0;}