	<?php 
//	$model = new StdClass();
//	$this->model->error = 202;
//	$this->register(SCONTROLLERS.'errors/error',$this->model);
	?>
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1><?=$this->ViewData('header')?></h1>
              <p><?=$this->ViewData('content')?></p>
              <a href="<?=HOST_URL ?>/" class="btn btn-primary btn-large">back</a>
            </div>
          </div>
        </div>
      </div>
    </div>