
.lang_menu img {
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 60px;
	height: 20px;
	border: 2px solid white;
}
.lang_menu a:hover img {
	border: 2px solid black;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.section-gray {
	background-color: #CFCCCC;
}
#top-link-block.affix-top {
	position: absolute;
	bottom: -82px;
	right: 20px;
}
#top-link-block.affix {
	position: fixed;
	bottom: 18px;
	right: 20px;
}
.dropdown-menu .sub-menu {
	left: 0;
	position: relative;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover > .sub-menu {
	visibility: visible;
	display: block;
}

.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}
.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
}

/* Sub menus */
#nav ul {
	display: none;
	visibility: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	width: 200px;
}

#nav ul li {
	display: block;
	visibility: visible;
	position: relative;
	top: 0px;
	left: 0px;
}
#nav ul li a {
	display: block;
	visibility: visible;
	position: relative;
	top: 0px;
	left: 0px;
}
#nav li:hover > ul {
	display: block;
	visibility: visible;
	position: relative;
	top: 0px;
	left: 0px;
}

ul#navs {
	display: block;
}
ul#navs li {
	display: block;
	position: relative;
}
ul#navs li a {
	display: block;
}


ul#navs li > ul {
	top: 0px;
	left: 0;
	position: absolute;
	display: none;
	z-index: 100;
	clear: both;
	border: inherit;
}

ul#navs li:hover > ul {
	background-color: #EEEEEE;
	position: absolute;
	display: block;
	left:0;
	top:100%;
	float: left;
}
ul#navs li:hover ul li:hover > ul {
	background-color: #EEEEEE;
	position: absolute;
	display: block;
	left:100%;
	top:0;
	float: left;
}
ul#navs li:hover > ul li{
	position: relative;
	display: block;
	left:0;
	top:0;
}

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}