<?php
use \System\core\Router as Router;
use \System\helpers\Intl as Intl;
?>
    <div class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1><?=$this->model->get_site_data_item("footer_title_str")?></h1>
            <p><?=$this->model->get_site_data_item("footer_content_str")?></p>
              <a href="<?=HOST_URL?>/?index=view&setlocale=pl">Polski</a>
              <a href="<?=HOST_URL?>/?index=view&setlocale=en">English</a>
              <a href="<?=HOST_URL?>/?index=view&pages=view">View</a>
              <a href="<?=HOST_URL?>/?index=view&pages=pages">Pages</a>
              <a href="<?=HOST_URL?>/?index=view&pages=null">Error</a>
              <a href="<?=HOST_URL?>/?index=view&pages=start">start</a>
              <a href="<?=HOST_URL?>/?index=view&pages=contact">contact</a>
              <a href="<?=HOST_URL?>/?index=view&pages=about">about</a>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 text-center">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>